{% extends "base.html" %}

{% block  content %}



<h1>{{ project.name }}</h1><br>

    <div class="container">
        <div class="row">
          <div class="col">
            <h3>Description</h3>
            <p>
            {{ project.description }}
            </p>
          </div>
          <br><br>
          <div class="row">
            <div class="col">     
                Status: {{ project.status }}
            </div>     
            <div class="col">     
                 Completed :{{ project.completed }}
            </div>  
            <div class="col">     
                Last Activity: {{ project.lastActivity }}
            </div>  

          </div>

        </div>
    </div>
<br><br>


{% if project.parent == 0 %}
    <div class="container">
      {% if subprojects %}
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Subprojects
        </div>
        <ul class="list-group list-group-flush">
          {% for sub in subprojects %}
          <li class="list-group-item">{{sub.name }}  {{ sub.status }}  
            <div class="input-group-text">
              <input class="form-check-input mt-0" type="checkbox" value="{{ sub.completed }}" aria-label="Completed">
            </div>
            <br> {{sub.description}} </li>
          {% endfor %}
        </ul>
      </div>       
      {% else %}
        There are no subprojects

      {% endif %} 

      <a href="{% url 'add_subproject' parent=project.id %}" class="btn btn-secondary" >Add subproject</a>

    </div>
    {% endif %}





    <br><br>
    <div class="container">
        {% if tasks %}
            {% for task in tasks %}
            <div class="container">
                <p>
                <strong>{{ task.title }}</strong>
                <br><br>
                {{ task.task}}
            </p>
            </div>
            {% endfor %}
        {% else %}
        <p>No tasks to show</p>
        {% endif %}

        <a href="{% url 'add_task' parent=project.id %}" class="btn btn-secondary">Add Task</a>
    </div>

{% if notes %}
<div class="accordion" id="accordionExample">
    {% for note in notes %}
    <div class="accordion-item">
        
      <h2 class="accordion-header">
        
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{note.id}}" aria-expanded="true" aria-controls="collapseOne">
            {{ note.title }}
        </button>
      </h2>
      <div id="collapse{{note.id}}" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {{ note.text }}
        </div>
      </div>
    </div>        
    {% endfor %}
</div>
{% else %}
    This project has no notes
{% endif %}



<div class="container"></div>
{% if links %}
  {% for link in links %}
  <div class="container">
    <p>
      <a href="{{ link.url }}" target = "_blank" rel="noopener noreferrer" >{{ link.title }}</a>
    </p>
  </div>

  {% endfor %}

{% else %}
This project has no links
{% endif %}
<a href="{% url 'add_link' parent=project.id %}" class="btn btn-secondary">Add Link</a>
</div>
{% endblock %}