{% extends "base.html" %}

{% block  content %}


<form action = "" method = "post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{sub.name}}" required>
      </div>


      <div class="mb-3">
        <label for="description">Description</label>
        <textarea id="description" name="description" rows="4" cols="50">{{sub.description}}</textarea>
        
      </div>



<br><br>


  <div class="mb-3">
    <label for="type">Type</label>
    <select id="type" class="form-control" name="type"  required >
    {% for option in types %}            
    {% if option == sub.type %}
    <option selected>{{ option }}</option>
    {% else %}
        <option>{{ option }}</option>
    {% endfor %}
</select>
 
</div>
  

<br><br>

<div class="mb-3">
<label for="status">Status</label>
<select id="status" class="form-control" name="status"  required>
{% for option in status %}
{% if option == sub.status %}
<option selected>{{ option }}</option>
{% else %}
    <option>{{ option }}</option>
{% endfor %}
</select>

</div>

      <button type="submit" class="btn btn-primary">Add</button>

</form>

{% endblock %}